{% extends 'index.html' %}

{% block title %}
    Creacion de productos
{% endblock %}


{% block content %}


<div class="container-fluid">
    <div class="row justify-content-center ">
        <div class="col-lg-4 border border-5 p-2">
            <p class="fs-1 text-center">Crear nuevo producto </p>
            {% if form %}
                <form action="" method="POST">

                    {% csrf_token %}
                    
                    <table class="table">
                        {{form.as_table}}
                    </table>

                    <button type="submit" class="btn btn-dark">Crear producto</button>
                </form> 
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}